http://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp38-cp38-linux_x86_64.whl
transformers
fastapi~=0.75.1
uvicorn
pydantic~=1.8.2
spacy~=3.2.4
flashtext==2.7
sense2vec~=2.0.0
nltk~=3.6.5
numpy~=1.20.3
textdistance~=4.2.1
sklearn~=0.0
scikit-learn~=1.0.2
similarity~=0.0.1
tokenizers
sentencepiece
pytorch-lightning==1.2.10
keybert==0.2.0
sense2vec
sentence-transformers
strsim
pandas